{% extends 'base.html.twig' %}

{% block title %}Fun with strings{% endblock %}

{% block body %}
    <form method="post">
        <label for="input">Input:</label><br>
        <input type="text" name="input"><br><br>
        <select>
            <option value="cap">Capitalize</option>
            <option value="dash">Dashing</option>
        </select>
        <input type="submit" value="Submit">
    </form>
    <p>{{ output }}</p>
{% endblock %}
